---
layout: default
---
{% assign post = page %}
{% assign author = site.data.authors[post.author] %}
<article class="boxed push-down-60" itemscope itemtype="http://schema.org/BlogPosting" itemref="jg-organization">
  <link itemprop="mainEntityOfPage" href="{{ post.url | prepend: site.baseurl | preprend: site.url }}" />
  <header class="meta">
    {% if post.poster %}
    {% include image.html class="wp-post-image" name=post.poster alt="Post poster" width=1138 height=493 %}
    <div class="meta__container">
      <div class="row">
        <div class="col-xs-12  col-sm-8">
          <div class="meta__info">
            <span class="meta__author">
              <figure>
                <img src="{{ author.avatar }}" alt="Author avatar" width="30" height="30">
              </figure>
              <a href="{{ author.web }}" target="_blank" rel="author">{{ author.firstname }}</a> in
              <a href="{{ post.category | prepend: site.category_page }}">{{ site.data.categories[post.category].title }}</a>
            </span>
            <span class="meta__date" role="contentinfo">
              <span class="glyphicon glyphicon-calendar"></span> &nbsp;
              <time itemprop="datePublished" datetime="{{ post.created }}">{{ post.created | date: "%B %-d, %Y"}}</time>
              <meta itemprop="dateModified" content="{{ post.updated }}">
            </span>
          </div>
        </div>
        <div class="col-xs-12  col-sm-4">
          <div class="meta__comments">
            <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="{{ post.url | prepend: site.baseurl | preprend: site.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}">Comments</a>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="meta__container--without-image">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="meta__info">
                <span class="meta__author" role="contentinfo" itemprop="author" itemscope itemtype="http://schema.org/Person">
                  <figure itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                    <img src="{{ author.avatar }}" alt="Author avatar" width="30" height="30">
                    <meta itemprop="width" content="30">
                    <meta itemprop="height" content="30">
                  </figure>
                  <a href="{{ author.web }}" target="_blank" rel="author" itemprop="url">
                    <span itemprop="name">{{ author.firstname }}</span>
                  </a> in
                  <a href="{{ post.category | prepend: site.category_page }}">{{ site.data.categories[post.category].title }}</a>
                </span>
                <span class="meta__date" role="contentinfo">
                  <span class="glyphicon glyphicon-calendar"></span> &nbsp;
                  <time itemprop="datePublished" datetime="{{ post.created }}">{{ post.created | date: "%B %-d, %Y"}}</time>
                  <meta itemprop="dateModified" content="{{ post.updated }}">
                </span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="meta__comments">
                <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="{{ post.url | prepend: site.baseurl | preprend: site.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}">Comments</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </header><!-- end of .meta -->
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1  col-md-8  col-md-offset-2  push-down-60">
      <section class="post-content">
        <h1 itemprop="headline">{{ post.title }}</h1>
        <h3 itemprop="description">{{ post.description }}</h3>
        <div itemprop="articleBody">
        {{ content }}
        </div>
      </section>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="post-comments">
            <a class="btn btn-primary" href="{{ post.url | prepend: site.baseurl | preprend: site.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="social-icons">
            <a href="https://facebook.com/sharer.php?u={{ post.url | preprend: site.baseurl | prepend: site.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="social-icons__container"><span class="zocial-facebook"></span></a>
            <a href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ post.url | preprend: site.baseurl | prepend: site.url }}&via={{ site.twitter.username }}" rel="nofollow" target="
            " title="Share on Twitter" class="social-icons__container"><span class="zocial-twitter"></span></a>
            <a href="https://plus.google.com/share?url={{ post.url | preprend: site.baseurl | prepend: site.url }}" rel="nofollow" target="_blank" title="Share on Google" class="social-icons__container"><span class="zocial-google"></span></a>
          </div>
        </div>
      </div><!-- end of .row -->

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="post-author" id="author-box" role="contentinfo" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <h6>Written By</h6>
            <hr>
            <figure itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
              <img src="{{ author.avatar }}" alt="Author avatar" itemprop="contenturl">
              <meta itemprop="url" content="{{ author.avatar }}">
              <meta itemprop="width" content="90">
              <meta itemprop="height" content="90">
            </figure>
            <h5><a href="{{ author.web }}" itemprop="url"><span itemprop="name">{{ author.firstname }} {{ author.lastname }}</span></a></h5>
            <span class="post-author__text">{{ author.description }}</span>
          </div><!-- end of .post-author -->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="tags">
            <h6>Tags</h6>
            <meta itemprop="keywords" content="{{ post.tags | join: ', ' }}">
            <hr>
            {% for tag in post.tags %}
            <a href="{{ tag | prepend: site.tag_page }}" class="tags__link" rel="tag">{{ tag }}</a>
            {% endfor %}
          </div><!-- end of .tags -->
        </div>
      </div><!-- end of .row -->

      <div class="disqus-comments push-down-45">
        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */

            var disqus_shortname = '{{ site.disqus_short_name }}';

            var disqus_config = function () {
                this.page.url = '{{ page.url | prepend: site.baseurl | prepend: site.url }}';
                this.page.identifier = '{{ page.title | slugify }}';
                this.page.title = '{{ page.title }}';
            };

            (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                var d = document, s = d.createElement('script');

                s.src = '//' + disqus_shortname + '.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div><!-- end of .disqus-comments -->

      <div class="related-stories">
        <h6>Related Stories</h6>
        <hr>
      </div><!-- end of .related-stories -->
    </div>
  </div>
</article>
